rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    //stripe extensionの指示により張り付け後にdeploy
    
    match /customers/{uid} {
      allow read: if request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
       allow read: if request.auth.uid == uid;
      }
    }

    match /products/{id} {
      allow read: if true;

      match /prices/{id} {
        allow read: if true;
      }

      match /tax_rates/{id} {
        allow read: if true;
      }
    }
    



    

    match /users/{userId} {
      allow read, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
      //20210214 Gift の追加に伴い、支払いの証明にしたいなと考えたからGiftの書き換えを制限しようとした
      //allow update: if request.auth.uid == userId && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['Gift']));
      allow update: if request.auth.uid == userId;

      match /tasks/{taskId} {
        allow read: if request.auth.uid == userId;
        allow create, delete: if request.auth.uid == userId;
        allow update: if request.auth.uid == userId || request.resource.data.diff(resource.data).affectedKeys().hasOnly(['good']);
      }

      match /diaries/{diaryId} {
        allow read: if true;
        //allow create: if request.auth.uid == userId && request.resource.data.countGift == 0;
        allow create: if request.auth.uid == userId;
        allow delete: if request.auth.uid == userId;
        //allow update: if request.auth.uid != null;
        //allow update: if request.resource.data.population > 0 && request.resource.data.name == resource.data.name;
        //allow update: if request.auth.uid != null && (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['countGift']));
        allow update: if request.auth.uid != null;
        
        match /comments/{commentId} {
          allow read: if true;
          allow write: if request.auth.uid != null;
        }
      }

      match /money/{moneyId} {
        allow read: if request.auth.uid == userId;
        allow write: if false;
      }

    }

    match /counts/{countId} {
      allow read: if true;
      allow update: if request.auth.uid != null;
      allow create, delete: if false;
    }

    //diaryのcollection groupで使うよ
    //match /{path=**}/diaries/{diaryId} {
    //  allow read: if request.auth.uid != null;
    //}
    //20210204ログインしてなくても見れた方が良いということで書き換え
    match /{path=**}/diaries/{diaryId} {
      allow read: if true;
    }

    //boardに関する記述は20200815を持って削除されました

    //20210726広告のための権限設定
    //function hasContinueSubs() {
    //  return request.auth.token.stripeRole == "continue";
    //}
    match /advs/{advId} {
      allow read: if true;
      //allow write: if true;
      //allow write: if request.auth.uid != advId && hasContinueSubs();
      allow create, delete: if request.auth.uid == advId && request.auth.token.stripeRole == "continue";
      //投票のためにupdateは分ける
      allow update: if request.auth.token.stripeRole == "continue";
    }

  }
}