rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
      
      match /tasks/{taskId} {
        allow read, write: if request.auth.uid == userId;
      }
    }

    match /counts/{countId} {
      allow read, update: if request.auth.uid != null;
      allow create, delete: if false;
    }

    match /boards/{boardId} {
      allow create: if request.auth.uid != null;
      allow read: if true;
      allow update, delete: if false;

      match /threads/{threadId} {
        allow create: if request.auth.uid != null;
        allow read: if true;
        allow update, delete: if false;

        match /comments/{commentId} {
          allow create: if request.auth.uid != null;
          allow read: if true;
          allow update, delete: if false;
        }
      }
    }

    //collectionGroupで使用するために使いまっす。
    match /{path=**}/threads/{threadId} {
      allow read: if request.auth.uid != null;
    }

  }
}