#bottom_app_bar{
    z-index: 3;
    background-color: #ffffff;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    padding: 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1) 0s;
}.mdc-tab__content{
    flex-direction: column;
}.mdc-tab:not(.mdc-tab--stacked) .mdc-tab__icon+.mdc-tab__text-label{
    padding: 0px;
}.mdc-tab{
    height: 50px;
}.mdc-tab-indicator.onfooter{
    display: none !important;
}.mdc-tab--active .mdc-tab__icon{
    color: #00405d !important;
}.mdc-tab__text-label{
    font-size: 0.5em
}

html{
    height: 100%;
    width: 100%;
    /*safari ios のバウンス？を止めるための施し*/
    overflow: hidden;
}body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #eeeeee;
    /*overflow: hidden; safari ios バウンス対策でauto にするが、そもそもhidden にしていた深い理由が不明なため要注意*/
    /*変えたあと試したけど、結局変化ないんすけどだいじょぶっすかねぇ*/
    overflow: auto;
}:root{
    --mdc-theme-primary: #00405d;
    --mdc-theme-secondary: #ffbfa2;
    --mdc-theme-on-primary: #fff2d3;
}

#top_header{
    background-color: #001a33;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}


@media screen and (min-width:600px){
    .top_level_page{
        height: calc(100% - 114px);
    }#header_logo{
        height: 64px;
    }
}@media screen and (max-width:599px){
    .top_level_page{
        height: calc(100% - 106px);
    }#header_logo{
        height: 56px;
    }
}.top_level_page{
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    overflow-y: scroll;
    /* スクロールを滑らかにする */
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}.top_level_page::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.mdc-fab{
    position: fixed;
    bottom: 100px;
    left: calc(50% - 24px);
}

#center_count{
    font-size: 3em;
    position: relative;
    margin: 0px;
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}
#count_day{
    font-size: 2em;
    position: absolute;
    margin: 0px;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

.log-chart{
    padding: 24px;
    box-sizing: border-box;
    height: fit-content;
    padding: 16px ;
    position: relative;
}@media screen and (min-width:600px){
    /*スマホ以外の時*/
    .log-chart{
        width: calc(50% - 24px);
        margin: 16px 0px 0px 16px;
    }#data_page{
        flex-direction: row;
    }
}@media screen and (max-width:599px){
    /*スマホの時*/
    .log-chart{
        width: calc(100% - 32px);
        margin: 16px 16px 0px 16px;
    }#data_page{
        flex-direction: column;
    }
}

#google_div{
    background-image: url("images/google_login_button/btn_google_signin_light_normal_web@2x.png");
}#google_div:hover{
    background-image: url("images/google_login_button/btn_google_signin_light_focus_web@2x.png");
}#google_div:active{
    background-image: url("images/google_login_button/btn_google_signin_light_pressed_web@2x.png");
}#google_div::before {
    display: block;
    content: " ";
    margin-top: 24.0837696335079%;
}

#anonymous_image{
    background-image: url("images/tokumeinotoki.jpg");
}#anonymous_image::before {
    display: block;
    content: " ";
    margin-top: 100%;
}
#task_complete_image{
    background-image: url("images/taskiwattara.jpg");
}#task_complete_image::before {
    display: block;
    content: " ";
    margin-top: 100%;
}
#create_task_image{
    background-image: url("images/taskcreateman.jpg");
}#create_task_image::before {
    display: block;
    content: " ";
    margin-top: 100%;
}
.text_up{
    font-size: 1.2em;
}.text_down{
    color: #777777;
}

/* icon 震えを与える */
#login_button{
    animation: hurueru 8s infinite;
}

@keyframes hurueru {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg);
        color: #ffbfa2;
    }
    0.625% {
        transform: translate(4px, 4px) rotateZ(1deg);
        color: #ffbfa2;
    }
    1.25% {
        transform: translate(0px, 4px) rotateZ(0deg);
        color: #ffbfa2;
    }
    1.875% {
        transform: translate(4px, 0px) rotateZ(-1deg);
        color: #ffbfa2;
    }
    2.5% {
        transform: translate(0px, 0px) rotateZ(0deg);
        color: #ffbfa2;
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg);
        color: #fff2d3;
    }
}

.moving_holder{
    overflow: hidden;
    /* animation */
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderAnimation;
    animation-timing-function: linear;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 100% 100% ;
    position: relative;
}
@keyframes placeHolderAnimation{
    0% {
       background-position: 0px 0
    }
    100% {
       background-position: 100vw 0
    }
}


#noresult_image{
    background-image: url("images/sureddonaitoki.jpg");
}#noresult_image::before {
    display: block;
    content: " ";
    margin-top: 100%;
}
#nocount_image{
    background-image: url("images/nanikaerror.jpg");
}#nocount_image::before {
    display: block;
    content: " ";
    margin-top: 100%;
}


#chart_one::before {
    display: block;
    content: " ";
    margin-top: 100%;
}
.graph_text{
    position: absolute;
    font-size: 0.5em;
    color: #777777;
    margin: 0px;
    white-space: nowrap;
}
.graph_holvar{
    position: absolute;
    width: 77%;
    left: 10%;
    margin: 0px;
    height: 1px;
    background-color: #eeeeee;
    border: none;
    color: #eeeeee;
}



@media screen and (min-width:600px){
    /*スマホ以外の時*/
    .diary-card{
        width: calc(50% - 24px);
        margin: 16px 0px 0px 16px;
    }#thread_container{
        flex-direction: row;
    }
    #hitokoto_count_card{
        margin: 16px;
    }
}@media screen and (max-width:599px){
    /*スマホの時*/
    .diary-card{
        width: calc(100% - 16px);
        margin: 8px 8px 0px 8px;
    }#thread_container{
        flex-direction: column;
    }
    #hitokoto_count_card{
        margin: 8px;
    }
}
.diary-card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
}.header_erea{
    height: 48px;
    width: 100%;
    position: relative;
}.who_icon{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
}.whos_diary{
    margin: 0px;
    position: absolute;
    top: 8px;
    left: 48px;
    font-size: 16px;
    font-weight: 600;
}.what_time{
    margin: 0px;
    position: absolute;
    top: 28px;
    left: 48px;
    font-size: 10px;
    color: #777777;
}.content_erea{
    width: 100%;
    position: relative;
    text-align: left;
    /*padding: 0px 8px 8px 48px;*/
}.content_diary{
    font-size: 16px;
    margin: 0px 8px 8px 48px;
}



/*diaryのdetailでコンテンツを表示するときの縦横比の調整*/
#diary_mimic_wrapper {
    position: relative;
    width: 100%;
    max-height: 50%;
}
#diary_mimic_wrapper:before {
    content:"";
    display: block;
    padding-top: 62%; /* 高さを幅の75%に固定 */
}
#diary_content_mimic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
}

/*diaryのcomment入力のところらへん*/
/*#diary_comment_input{
    display: flex;
    justify-content: start;
}#diary_comeinput_icon{
    margin: auto 12px auto 12px;
}#diary_comeinput_text{
    border: none; font-size: 18px; width: calc(100% - 98px);
}#diary_comeinput_send{
    color: #777777;
}*/
/*改定版（経験値.comのワダイへのコメントから持ってきたもの）*/
#diary_comment_input{
    position: relative;
    left: 0px;
    height: 56px;
    width: 100%;
    background-color: #ffffff;
}#diary_comeinput_icon{
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    left: 12px;
    top: 12px;
}#diary_comeinput_text{
    /*これは匿名の時に表示するテキストのcssだわ
    position: absolute;
    font-size: 16px;
    margin: 0px;
    color: #595959;
    width: calc(100% - 156px);
    border: none;
    left: 72px;
    top: 20px;
    height: 26px;
    */
    position: absolute;
    font-size: 18px;
    width: calc(100% - 104px);
    border: none;
    left: 56px;
    top: 16px;
    height: 26px;
    padding: 0px;
}#diary_comeinput_send{
    position: absolute;
    right: 0px;
    bottom: 4px;
    color: #777777;
}
#norecomment_image{
    background-image: url("images/nocommentbook.jpg");
}#norecomment_image::before {
    display: block;
    content: " ";
    margin-top: 100%;
}#diary_comment_thread_commentarea{
    flex-direction: column;
}

#diary_comment_thread_commentarea{
    flex-direction: column;
}.diary_card_comment{
    width: calc(100% - 16px);
    margin: 8px 8px 0px 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
}.header_erea_comment{
    height: 48px;
    width: 100%;
    position: relative;
}.who_icon_comment{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
}.whos_diary_comment{
    margin: 0px;
    position: absolute;
    top: 8px;
    left: 48px;
    font-size: 16px;
    font-weight: 600;
}.what_time_comment{
    margin: 0px;
    position: absolute;
    top: 28px;
    left: 48px;
    font-size: 10px;
    color: #777777;
}.content_erea_comment{
    width: 100%;
    position: relative;
    text-align: left;
    /*padding: 0px 8px 8px 48px;*/
}.content_diary_comment{
    font-size: 16px;
    margin: 0px 8px 8px 48px;
}

#div_for_subscription{
    display: none;
    width: 100%;
    height: ;
}

#list_page_fab{
    background-color: #fff2d3;
    color: #001a33;
}